<div class="row">
	<h2>About</h2>

	<p>Firestarter is a small demo Twitter clone using:
		<ul>
			<li>Node</li>
			<li>Express</li>
			<li>Mongoose</li>
			<li>Passport</li>
			<li>AngularJS</li>
			<li>Twitter Bootstrap</li>
			<li>Lodash</li>
			<li>Gulp</li>
			<li>Bower</li>
			<li>MongoDB</li>
		</ul>

		<a class="btn btn-success btn-lg" role="button" ng-href="http://github.com/rkovacevic/firestarter">View Source</a>
		<a class="btn btn-primary btn-lg" role="button" ng-href="http://hr.linkedin.com/in/rkovacevic/">Contact me</a>
		
	</p>
</dib>